:root {
  --primary-color: #6C63FF;
  --secondary-color: #6c757d;
  --background-color: #EEF6EF;
  --background-color1: #EEF6EF;
  --text-color: #000;
}

.dark-theme {
  --primary-color: #6C63FF;
  --secondary-color: #808080;
 
  --background-color: #252525;
  --background-color1: #2C2C2C;
  --text-color: #fff;
}
.App {
  background-color: var(--background-color);
  text-align: center;
  height: auto;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
